


body {
  background: beige;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 40px;
  animation: ease-in-out;
}


.container {
  border: 1px chocolate;
  padding: 2px;
  position: relative;
  width: 300%;
  max-width: 900px;
}

.container img {
  width: 100%;
  float: left;
  margin: 2px;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 40%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: saddlebrown;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: saddlebrown;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.navBar {
  display: block;
  position: relative;
  width: 1000px;
  height: 200px;
  border: black;
  border-radius: 25px;
}

.navBox {
  width: 190px;
  height: 84px;
  left: 24px;
  position:fixed;
  padding: 50px;
  display: inline-block; /* ADDED */
}

.container .btn:hover {
  background-color: azure;
}


/*Styling for home page */

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.1;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:dodgerblue;
  color: white;
  font-size: 18px;
  padding: 16px 32px;
}

#logo {
  height: 100%;
  width: 20%;
  display: inline-block;
  float: left;

}
.jumbotron {
  padding: 4rem 2rem;
}
.jumbotron p {
}



